section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  h2 {
    color: var(--text-title);
    font-size: 2.25rem;
  }

  .input-group {
    gap: 0.25rem;
    display: flex;
    align-items: center;

    font-size: 16px;
    
    input {
      background: var(--background);
      color: var(--text);
      
      width: 48vh;
      padding: 12px 18px;

      border-radius: 8px;
      border: 0;
      
      &::placeholder {
        color: var(--text-light)
      }
    }

    button {
      border-radius: 8px;
      border: 0;
      background: var(--green);
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 10px;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}
